-@resources.each do |resource|
  %li.resource-item
    %ul.resource-details
      %li.resource-title
        = resource.title
        %span.resource-delete= link_to "x", resource_path(resource), method: "DELETE"
      %li.resource-url= link_to resource.url, resource.url
      - if resource.tags.count != 0
        %li.resource-tags
          - resource.tags.each do |tag|
            %span= tag.name
            %span= link_to "x", resource_tag_path((ResourceTag.find_by_resource_id_and_tag_id(resource.id, tag.id))), method: "DELETE"
        %li= link_to "+ tag", resource_tags_path
      %li.resource-fans
        Fans:
        = resource.favorites_count
