%h2 Registration Form

= form_for @user do |f|
  %p
    = f.label :first_name
    = f.text_field :first_name

  %p
    = f.label :last_name
    = f.text_field :last_name

  %p
    = f.label :email
    = f.email_field :email

  %p
    = f.label :password
    = f.password_field :password

  %p
    = f.label :user_type
    %select{ :name => "user_type" }
      %option{:value => "student"}= "Student"
      %option{:value => "teacher"}= "Teacher"

    = f.submit


