%H2
  Hello
  = current_user.first_name.capitalize

%ul.resources-classification
  %li= link_to "Favorites", resources_path

%ul
  -@resources.each do |resource|
    -if resource.teachers_only?
    -else
      %li.resource-item
        %ul.resource-details
          %li.resource-title= resource.title
          %li.resource-url= link_to resource.url, resource.url
          %li.resource-tags
            - resource.tags.each do |tag|
              %span= tag.name
          %li.resource-fans
            Fans:
            = resource.favorites_count
