%H2
  Hello
  = current_user.first_name.capitalize

%ul.resources-classification
  %li.btn.btn-light.favorites-link= link_to "My Favorites", favorites_path, remote: true
  %div.favorites-partial

%ul.container
  -@resources.each do |resource|
    -if resource.teachers_only?
    -else
      %br
      %li.resource-item
        %ul.resource-details
          %li.resource-title= resource.title
          %li.resource-url= link_to resource.url, resource.url
          %li.resource-tags
            - resource.tags.each do |tag|
              %span.badge-info= tag.name
          %li.resource-fans
            Fans:
            = resource.favorites_count
          - if !current_user.resources_favorited.include?(resource)
            %li.btn.btn.btn-outline-info
              = bootstrap_form_for(:favorite, url: resource_favorites_path(resource.id), method: "POST") do |f|
                = f.submit
