%div.search-bar
  = form_tag(search_resources_path) do
    %input{type: 'text', name: 'tag', placeholder: 'Search'}
    %input{type: 'submit'}

%ul.resources-classification
  %li= link_to "All Resources", user_path(current_user)
  %li= link_to "Favorites", my_favorites_path(current_user), remote: true
  %li= link_to "My Resources", my_resources_path(current_user)

%ul.resources-list
  = render partial: '/partials/teachers_resource_display'

= link_to "Add Resource", new_resource_path
