%h1 Resources

%div.search-bar
  = form_tag(search_resources_path) do
    %input{type: 'text', name: 'tag', placeholder: 'Search'}
    %input{type: 'submit'}

%ul
  -@resources.each do |resource|
    %li.resource-list
      -if resource.teachers_only?
      -else
        %ul.resource-details
          %li.resource-title= resource.title
          %li.resource-url= link_to resource.url, resource.url
          %li.resource-tags
            - resource.tags.each do |tag|
              %span= tag.name
          %li.resource-fans
            Fans:
            = resource.favorites_count


