<!DOCTYPE html>
<html>
  <head>
    <title>Sorcerer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <h1>Sourcerer</h1>

      <% if logged_in?  %>
        <%= link_to "Logout", sessions_path, method: "DELETE" %>
      <% else %>
        <%= link_to "login", new_session_path %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
